<h1 class="mt-4">Documentos de Engenharia</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ docEngenharia.id ? 'Edição' : 'Cadastro' }}</li>
</ol>
<div class="container">
    <form #docEngenhariaForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Cadastro salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" *ngIf="docEngenharia.id">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" [(ngModel)]="docEngenharia.id" name="id" class="form-control" disabled="true">
                </div>
            </div>
    
            <div class="col-md-6">
                <div class="form-group">
                    <label>Documento:</label>
                    <input type="text" class="form-control" [(ngModel)]="docEngenharia.nome" name="docEngenharia">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!docEngenharia.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
    
                <button type="submit" class="btn btn-primary" *ngIf="docEngenharia.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
    
                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>