<h1 class="mt-4">Projetos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <form #consultarForm="ngForm" (submit)="consultar()">
        <div class="row">
            
            <div class="col-md-6">
                <label for="inputArea">Pesquisar por área:</label>
                <select [(ngModel)]="area" class="form-control" name="area">
                    <option value="">Selecione...</option>
                    <option *ngFor="let area of areas" [value]="areaSelecionada">
                        {{ area?.nmArea }}
                    </option>
                </select>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>

                <button type="button" 
                    routerLink="/area-projeto/form"
                    class="btn btn-warning ml-1">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>

    </form> 
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Área</th>
                        <th>Projeto</th>
                        <th>Data Inicial</th>
                        <th>Data Final (Planejado)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lista">
                        <td>{{ item.area.nmArea }}</td>
                        <td>{{ item?.projeto }}</td>
                        <td>{{ item?.dataInicio }}</td>
                        <td>{{ item?.dataFimPlanejado }}</td>
                        <td>
                            <button class="btn btn-primary" 
                                    routerLink="/area-projeto/form/{{ item.id }}">
                                <i class="fa fa-edit"></i>
                            </button>
                            
                            <button class="btn btn-danger ml-1" (click)="preparaDelecao(item)"
                                    data-toggle="modal" data-target="#modalDelecao">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="areas">
                    Confirma a deleção do cadastro do projeto?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarAreaProjeto()" data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>